
<div class="container" style="padding-top: 12rem;">
    <mat-card class="example-card" style="width: fit-content; margin: auto;">
        <div class="container p-5">
            <div class="brand-logo text-center">
                <img src="assets/img/logo.png" alt="" class="img-fluid logo">
            </div>
            <div class="inputs mt-3">
                <input type="number" [(ngModel)]="number" placeholder="NUMBER HERE" />
                <button type="submit" (click)="check()">SUBMIT</button>
            </div>
        </div>
    </mat-card>
</div>
